{{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
{{/if}}


<div class="container">
        <div class="title"> Apple's Innovation Death Tax </div>
        
        <div class="video">
            <iframe
                width="480"
                height="420"
                src="https://www.youtube.com/embed/VtvjbmoDx-I"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
        </div>
        <a  class="redirect" href="/petition">
        <button class="buttonL" >Learn More</button>
        <button class="buttonL" >Sign Petition</button>
        </a>
    </div>
</div>

  {{!-- <a class="editProfil" href="/editPage">
        <button class="edit" Edit Profil></button>
    </a> --}}